@import "./normalize.css";

:root {
  --color-dark: rgb(53, 53, 53);
  --color-light: rgb(255, 255, 255);
  --color-grey: rgb(115, 114, 114);
  --color-lightgrey: rgb(204, 204, 204);
  --color-green: rgb(56, 121, 56);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  font-size: 14px;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
